body {
  background-color: rgb(16, 16, 20);
  margin: 0;
}

p,
a,
span {
  color: rgb(250, 250, 250);
  font-family: inter, arial;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: -0.2px;
  margin: 0;

  text-decoration: none;
}

button {
  font-family: inter, arial;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.2px;
  margin: 0;

  text-decoration: none;
  cursor: pointer;
  border: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

main {
  padding-left: 190px;
  padding-right: 190px;

  display: flex;
  flex-direction: column;

  gap: 72px;
}

main>p:last-of-type {
  font-size: 12px;
  border-top: 1.5px solid rgb(52, 52, 55);
  padding-top: 24px;
}