body {
  background-color: rgb(16, 16, 20);
  margin: 0;
  padding-bottom: 2000px;
}

p, a, button {
  color:rgb(250, 250, 250);
  font-family:  inter, arial;
  font-weight: 500;
  font-size: 15px;
  letter-spacing: -0.2px;
  margin: 0;

  text-decoration: none;
}

