.section-header {
  display: flex;
  justify-content: space-between;
}

.section-header .title {
  color: rgb(255, 255, 255);
  font-family: inter, arial;
  font-size: 20px;
  font-weight: bold;
}

.section-header .arrow-btn {
  width: 22px;
  transform: rotate(-90deg);
  padding-right: 10px;
}

.section-header .arrow-prev,
.section-header .arrow-next {
  background-color: rgb(53, 53, 56);
  padding: 8.5px;
  border-radius: 20px;
}

.section-header .arrow-prev {
  width: 13px;
  transform: rotate(90deg);
}

.section-header .arrow-next {
  width: 13px;
  transform: rotate(-90deg);
  margin-left: 6px;
}

.m-card-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;

  margin-top: 20px;
}

.m-card {
  flex: 1;
  max-width: 214px;

  display: flex;
  flex-direction: column;
}

.m-card .thumbnail {
  width: 100%;
  max-height: 284px;
  margin-bottom: 8px;

  overflow: hidden;
  border-radius: 8px;
}

.m-card .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.m-card-list p {
  line-height: 1.5;
}

.m-card .card-type {
  font-size: 12px;
  color: rgb(164, 164, 166);
}

.m-card .card-title {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 6px;
}

.m-card .card-date {
  color: rgb(171, 171, 172);
  font-size: 15px;
  display: none;
}

.epic-badge {
  display: inline-block;

  font-size: 12px;
  color: rgb(255, 255, 255);
  background-color: rgb(52, 52, 55);
  padding: 4px 8px;
  border-radius: 4px;
  margin-top: 2px;
}

.m-card .card-price {
  padding-top: 8px;
}

.l-card-list {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.l-card {
  width: 360px;
}

.l-card .thumbnail {
  position: relative;

  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 16px;
}

.l-card .thumbnail .overlay{
  position: absolute;
  inset: 0;
  background-color: rgb(244, 244, 244);
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.l-card .thumbnail:hover .overlay {
  opacity: 0.1;
}

.l-card .thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-card .card-title {
  font-size: 21px;
  font-weight: bold;
  margin-top: 20px;
}

.l-card .card-subtitle {
  margin-top: 20px;

  color: rgb(172, 172, 173);
}

.l-card .action-button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  border-radius: 6px;
  margin-top: 20px;

  background-color: rgb(52, 52, 55);
  color: rgb(255, 255, 255);
}

.action-button p {
  font-size: 16px;
  font-weight: 500;
}

.action-button:hover p {
  color: dodgerblue;
}

.goto-icon {
  width: 14px;
}
